﻿@using RelayTeams
@model List<RelayTeam>
@inject IOptions<RelayOptions> optionsAccessor
@functions {
  bool CompleteTeam(RelayTeam team) {
    foreach (var r in team.Runners) {
      if (String.IsNullOrWhiteSpace(r.FirstName) || r.FirstName.ToLower().Contains("firstname)")) {
        return false;
      }

      if (String.IsNullOrWhiteSpace(r.LastName) || r.FirstName.ToLower().Contains("lastname)")) {
        return false;
      }

      if (!Int32.TryParse(r.SI, out int si)) {
        return false;
      }
    }

    return true;
  }
}
@{
  var sortedTeams = Model.OrderBy(p => p.Class).ThenBy(p => p.Club.ToLower().StartsWith("composite") ? "zzz" + p.Club : p.Club).ThenBy(p => p.Name).ToList();

  int numberOfLegs = optionsAccessor.Value.Legs;
}
<html>
<head>
  <title></title>
  <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="container">
  <table class="table table-striped">
    <tr>
      <th><a href="/?order=team">Team</a></th>
      <th><a href="/?order=class">Class</a></th>
      <th><a href="/?order=club">Club</a></th>
      <th><a href="/?order=id">Id</a></th>
      @for (var i = 1; i <= numberOfLegs; i++) {
        <th>Leg @i</th>
      }
      <th></th>
      <th></th>
    </tr>
    @foreach (var r in sortedTeams) {
      <tr class="@(CompleteTeam(r) ? "success" : "")">
        <td>@r.Name</td>
        <td>@r.Class</td>
        <td>@r.Club</td>
        <td>@r.Id</td>
        @for (var i = 0; i < numberOfLegs; i++) {
          var r1 = r.Runners.Count > i ? r.Runners[i].FirstName + " " + r.Runners[i].LastName : "";
          var s1 = r.Runners.Count > i ? r.Runners[i].SI : "";

          <td>@r1<br />@s1</td>
        }
        <td>
          @if (r.Club == "Composite") {
            <a class="btn btn-primary" href="/team/@r.Id?filter=class">Edit</a>
          } else {
            <a class="btn btn-primary" href="/team/@r.Id?filter=both">Edit</a>
          }
        </td>
        <td>
          @if (r.Club != "Composite") {
            <a class="btn" href="/team/@r.Id?filter=club">Edit [Only club]</a>
            <br />
            <a class="btn" href="/team/@r.Id?filter=class">Edit [Only class]</a>
            <br />
          }
          <a class="btn" href="/team/@r.Id?filter=no">Edit [No filter]</a>
        </td>
      </tr>
    }
  </table>
  <a href="/download" class="btn btn-success">Download</a>
  <a href="/download2" class="btn btn-success">Download (Not removing empty teams)</a>
  @if (!optionsAccessor.Value.UseOwnChip) {
    <a href="/assign" class="btn btn-warning">Assign SI (for non composite teams - even without runners assigned)</a>
    <a href="/assigncomposite" class="btn btn-warning">Assign SI Composite (for composite teams - but only with runners assigned)</a>
  }
</body>
</html>