﻿@using RelayTeams
@model TeamViewModel
@inject IOptions<RelayOptions> optionsAccessor
@functions {
  bool IsSame(Runner r, RelayTeamRunner rtr) {
    return r.FirstName == rtr.FirstName && r.LastName == rtr.LastName;
  }

  bool AlreadyAssigned(Runner r, Dictionary<string, string> mapping) {
    string key = $"{r.FirstName} {r.LastName}";
    return mapping.ContainsKey(key);
  }
}
@{
  var assigned = Model.AssignedRunners.Select(p => $"{p.FirstName} {p.LastName}").Distinct().ToDictionary(k => k);

  bool useOwnChip = optionsAccessor.Value.UseOwnChip;
  int numberOfLegs = optionsAccessor.Value.Legs;
}
<html>
<head>
  <title></title>
  <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="container">
  @if (Model.Saved) {
    <div class="alert alert-success" role="alert">Saved</div>
  } else if (!String.IsNullOrWhiteSpace(Model.Message)) {
    <div class="alert alert-danger" role="alert">@Html.Raw(Model.Message)</div>
  }
  <form action="/team/save/@Model.Team.Id" method="post">
    <input name="filter" type="hidden" value="@Model.Filter" />
    <table class="table table-striped">
      <tr>
        <th>Team</th>
        <td colspan="2">@Model.Team.Name</td>
      </tr>
      <tr>
        <th>Class</th>
        <td colspan="2">@Model.Team.Class</td>
      </tr>
      <tr>
        <th>Id</th>
        <td colspan="2">@Model.Team.Id</td>
      </tr>
      <tr>
        <th>Name:</th>
        <th>SI:</th>
      </tr>
      @for (var i = 0; i < numberOfLegs; i++) {
        var current = Model.Team.Runners[i];
        <tr>
          <td>
            <select name="r@(i+1)" class="form-control">
              <option></option>
              @foreach (var p in Model.Runners.Where(p => !AlreadyAssigned(p, assigned) || IsSame(p, current))) {
                <option @(IsSame(p, current) ? "selected=\"selected\"" : "") value="@(p.FirstName + " " + p.LastName + " " + p.SI)">@p.FirstName @p.LastName [@p.Club] [@p.Class])</option>
              }
            </select>
          </td>
          <td>
            @if (useOwnChip) {
              @if (!String.IsNullOrWhiteSpace(current.SI)) {
                <span>@current.SI</span>
              }
            } else {
              <input name="s@(i+1)" class="form-control" value="@current.SI" placeholder="" />
            }
          </td>
        </tr>
      }
    </table>
    <input type="submit" value="Save" class="btn btn-primary" />
    <hr />
    <a href="/" class="btn">Back</a>
  </form>
</body>
</html>